{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="jumbotron">
            <h2 class="display-4">Login</h2>
            <hr class="my-4">
            <p>Before you can go to the desired section by clicking on the corresponding buttons. You must login. Please
                fill this login form</p>
            {{ form|crispy }}
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-block btn-lg"><i
                            class="fas fa-cloud-upload-alt"></i>
                        Login
                    </button>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class="fas fa-home"></i> Back to Home
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
