{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="jumbotron">
            <h2 class="display-4">Forgot your password?</h2>
            <hr class="my-4">
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            {{ form|crispy }}
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-block btn-lg"><i class="far fa-envelope"></i>
                        "Send me instructions!"
                    </button>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class="fas fa-home"></i> Back to Home
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}