{% extends 'base.html' %}


{% block title %} Email was sent {% endblock %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success! Thank you for your message.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloribus explicabo fugit necessitatibus numquam
            praesentium!</p>
        <hr>
        <div class="col-md-12 text-center">
            <a href="{% url 'home' %}" type="button" class="btn btn-outline-success"><i class="fas fa-home"></i>
                Confirm</a>
        </div>
    </div>
{% endblock %}