{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <form action="" method="post">
        <div class="jumbotron"><h2>Edit</h2>
            <hr class="my-4">
            <p>Please fill form to edit this Article.</p>
            {{ form|crispy }}
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'articles' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class="fas fa-list"></i> Back to Articles
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}