{% extends 'base.html' %}
{% block content %}
    <h1>Delete</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Are you sure? Delete "{{ article.title }}" ?</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit
                longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Confirm </button>
            </div>
        </div>
    </form>
{% endblock %}
