{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% for article in object_list %}
            <div class="bd-example px-3 px-md-4 mb-3 bg-light border box-shadow">
                <div class="post-entry">
                    <h2> {{ article.title }} </h2>
                    <p>
                        <!-- Button collapse with article Text-->
                        <a class="btn btn-secondary" data-toggle="collapse" href="#CollapseArtText{{ article.id }}"
                           role="button"
                           aria-expanded="false" aria-controls="CollapseArtText1"> Text of article </a>
                        <!-- Button collapse with Comments-->
                        <a class="btn btn-secondary" data-toggle="collapse" href="#CollapseComments{{ article.id }}"
                           role="button"
                           aria-expanded="false" aria-controls="CollapseComments1"> Comments
                            <span class="badge badge-light">{{ article.comments.all.count }}</span></a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#exampleModal{{ article.id }}">
                            Details
                        </button>
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ article.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel{{ article.id }}">{{ article.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Please choose the action
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'article_update' article.pk %}" class="btn btn-primary">
                                        <i class="fas fa-info-circle"></i> Update </a> |
                                    <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">
                                        <i class="fas fa-info-circle"></i> Edit </a> |
                                    <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i> Delete </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Collapse article Text-->
                    <div class="row px-2 px-md-2 mb-3">
                        <div class="col">
                            <div class="collapse multi-collapse" id="CollapseArtText{{ article.id }}">
                                <div class="card card-body">
                                    {{ article.body }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-2 px-md-2 mb-3">
                        <div class="col">
                            <div class="collapse multi-collapse" id="CollapseComments{{ article.id }}">
                                <div class="card card-body">
                                    {% for comment in article.comments.all %}
                                        <p>{{ comment.comment }}</p>
                                        <p>by {{ comment.author }}</p>
                                        <hr class="my-1">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock content %}
{##}
{#<div class="row">#}
{#    <div class="col-md-4">#}
{#        <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary btn-sm">#}
{#            <i class="fas fa-info-circle"></i> Edit </a> |#}
{#        <a href="{% url 'article_delete' article.pk %}" class="btn btn-secondary btn-sm">#}
{#            <i class="far fa-trash-alt"></i> Delete </a>#}
{#    </div>#}
{#</div>#}
