{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Article detail{% endblock %}
{% block content %}

    <div class="jumbotron">
        <h2> {{ object.title }} </h2>
        <hr class="my-4">
        <p>Please let your comment to this Article.</p>
        <p> by {{ object.author }} - {{ object.date }} </p>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'article_update' object.pk %}" class="btn btn-success btn-block btn-lg">
                    <i class="fas fa-wrench"></i> Update </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'articles' %}" class="btn btn-danger btn-block btn-lg">
                    <i class="far fa-trash-alt"></i> Delete </a>
            </div>
        </div>
        <div class="comments">
            {% for comment in comments %}
                <p>{{ comment.comment }}</p>
            {% endfor %}
        </div>
        <div>
            {% if new_comment %}
                <h2>New comment has been added</h2>
            {% else %}
                <h2>Add new comment</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success btn-block btn-lg">
                                <i class="far fa-comments"></i> Add new comment </button>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'articles' %}" class="btn btn-secondary btn-block btn-lg">
                                <i class="fas fa-list"></i> Back to articles </a>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}