{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Home{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="jumbotron">
            <h1 class="display-4">Hello, {{ user.username }}!</h1>
            <p class="lead">This is a simple site, for saving your Articles and comments.</p>
            <hr class="my-4">
            <p>You can go to the desired section by clicking on the corresponding buttons.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'password_change' %}" role="button"><i
                        class="fas fa-key"></i> Change Password </a>
                <a class="btn btn-primary btn-lg" href="{% url 'password_reset' %}" role="button"><i
                        class="fas fa-power-off"></i> Reset Password </a>
            </p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h2 class="display-4">You are not logged</h2>
            <p class="lead">This is a simple site, for saving your Articles and comments.</p>
            <hr class="my-4">
            <p>You can go to the desired section by clicking on the corresponding buttons.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">login</a>
                <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">signup</a>
            </p>
        </div>
    {% endif %}
{% endblock %}

