{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Signup{% endblock %}
{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="jumbotron">
            <h2 class="display-4">Signup</h2>
            <hr class="my-4">
            <p>Before you can go to the desired section by clicking on the corresponding buttons. You must signup. Please
                fill this register form</p>
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <div class="row">
                <div class="col-md-2">
                    {{ form.age|as_crispy_field }}
                </div>
                <div class="col-md-5">
                    {{ form.password1|as_crispy_field }}
                </div>
                <div class="col-md-5">
                    {{ form.password2|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-block btn-lg"><i
                            class="fas fa-cloud-upload-alt"></i>
                        Submit
                    </button>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class="fas fa-home"></i> Back to Home
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}